<div class="review">
  <button type="button" onclick={{action "deleteReview" model}}>
    <h5>Delete</h5>
  </button>
  <h4>{{model.name}} is... <span>{{star-rating}}</span></h4>
  {{review.review}}
</div>
