{{head-layout}}
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<div>
  <ul>
    <li>
      {{#link-to "saved"}}
        <h3>SAVED</h3>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "companies"}}
        <h3>COMPANIES</h3>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "resources"}}
        <h3>RESOURCES</h3>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "index"}}
        <h3>HOME</h3>
      {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}
