<div class="container" style="margin-left: 2%;">
  <ul>
    {{#each model as |company|}}
      <div class="companies">
        <SingleCompany @company={{company}} />
      </div>
    {{/each}}
  </ul>
</div>
