<div style="clear: both; margin-top: 3vw;">
  <h3 id="display">I want to...</h3>
</div>

<div class="container">
  <div class="resource-blocks">
    {{#link-to 'rights'}}
    <div class="media-left">
      <img class="icons" src="/img/rights-01.png">
      <div class="media-body">
          <h2>Know my rights.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>


    {{/link-to}}
  </div>
  <div class="resource-blocks">
    {{#link-to 'lawyer'}}
    <img class="icons" src="/img/lawyer-01.png">
    <h2>Speak to a lawyer.</h2>
    {{/link-to}}
  </div>
  <div class="resource-blocks">
    {{#link-to 'utilities'}}
    <img class="icons" src="/img/utilities-01.png">
    <h2>Set up utilities.</h2>
    {{/link-to}}
  </div>
</div>


{{outlet}}
